html, body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
/* grid system */
.container {
    width: 100%;
    max-width: 1200px; 
    position: relative;
    margin: 0 auto;
}
.row:before,.row:after {
        content:"";
        display: table ;
        clear:both;
}
* [class^=col-] {
    float: left;
    min-height: 1px; 
    padding: 12px; 
}
.visible-xs, .visible-sm, .visible-md {
	display: none;
}
@media (max-width: 768px){
.col-xs-1{ width: 16.66%; }
.col-xs-2{ width: 33.33%; }
.col-xs-3{ width: 50%;    }
.col-xs-4{ width: 66.66%; }
.col-xs-5{ width: 83.33%; }
.col-xs-6{ width: 100%; }
.hidden-xs { display: none;}
.visible-xs {display: initial!important;}
}
@media (min-width: 768px) and (max-width: 992px){
.col-sm-1{ width: 16.66%; }
.col-sm-2{ width: 33.33%; }
.col-sm-3{ width: 50%;    }
.col-sm-4{ width: 66.66%; }
.col-sm-5{ width: 83.33%; }
.col-sm-6{ width: 100%; }
.hidden-sm { display: none;}
.visible-sm {display: initial!important;}
}
@media (min-width: 992px){
.col-md-1{ width: 16.66%; }
.col-md-2{ width: 33.33%; }
.col-md-3{ width: 50%;    }
.col-md-4{ width: 66.66%; }
.col-md-5{ width: 83.33%; }
.col-md-6{ width: 100%; }
.hidden-md { display: none;}
.visible-md {display: initial!important;}
}
@media (min-width: 768px){
/* navigation dropdown menu */
nav {
	font: 18px Arial;
	text-align: center;
	
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;	
	width: 100%;
}
nav li {
	padding: 10px;
	z-index: 5;
}
nav > ul > li {
	display: inline-table;
	background-color: rgba(65, 169, 204, 1);
	width: 25%;
	position: relative;
}

nav ul ul {
	display: none;
	background-color: rgba(155, 220, 204, 1);
	margin-left: -10px;
	margin-top: 10px;
	position: absolute;
}

nav li:hover > ul {
	display: block;
}
}
@media (max-width: 768px){
  nav {
  	background-color: #ff00ff;
  	width: 100%;
  }
  nav ol, nav ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }
  nav ol {
  	float: left;
  	padding: 0.5em;
  }
  nav div {
  	text-align: right;
  	padding: 0.5em;
  }
  nav ul li {
  	padding: 0.1em;
  }
  
}
#main {
	background: #ab41cc;
	clear: both;
}
.right {
	float: right;
}
time {
  display: block;
}